<div class="container">
  <h2 style="color: rgb(29, 33, 235); text-align: center;">Employee Management App (UNRWA)</h2>
  <h4 style="color: rgb(29, 33, 235); text-align: center;">Rami Abou Eid</h4>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>

      <button class="btn btn btn-primary my-2 my-sm-0" routerLink="item/create" placeholder="submit" type="submit">Add Employee</button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>